astroid==2.4.2
bidict==0.21.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
decorator==4.4.2
dnspython==1.16.0
eventlet==0.30.0
Flask==1.1.2
Flask-SocketIO==5.0.1
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.3
numpy==1.19.5
pafy==0.5.5
Pillow==8.1.0
proglog==0.1.9
pylint==2.6.0
python-engineio==4.0.0
python-socketio==5.0.4
requests==2.25.1
six==1.15.0
toml==0.10.2
tqdm==4.56.0
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
youtube-dl==2021.1.8
